<% if flash.has?(:message) %>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= flash[:message] %>
  </div>
<% end %>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6 card box-shadow">
    <h1>Edit Page</h1>
    <form action="/shoppers/<%= @shopper.id %>" method="post">
      <input id="hidden" type="hidden" name="_method" value="patch">
      <div class="form">
        <strong>Name:</strong> <input type="text" class="form_input" name="name" value="<%= @shopper.name %>">
      </div>
      <div class="form">
        <strong>Email:</strong> <input type="text" class="form_input" name="email" value="<%= @shopper.email %>">
      </div>
      <div class="form">
        <strong>Telephone Number:</strong> <input type="text" class="form_input" name="tel_nbr" value="<%= @shopper.tel_nbr %>">
      </div>
      <div class="form">
        <strong>Price Per Bag:</strong> <input type="text" class="form_input" name="price_per_bag" value="<%= @shopper.price_per_bag %>">
      </div>
      <div class="form">
        <strong>Neighborhood:</strong> <input type="text" class="form_input" name="neighborhood" value="<%= @shopper.neighborhood %>">
      </div>
      <div class="form">
        <strong>City:</strong><input type="text" class="form_input" name="city" value="<%= @shopper.city %>">
      </div>
      <div class="form">
        <strong>State:</strong><input type="text" class="form_input" name="state" value="<%= @shopper.state %>">
      </div>
      <button type="submit" name="submit">Edit</button>
    </form>
  </div>
</div>
