<% if flash.has?(:message) %>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= flash[:message] %>
  </div>
<% end %>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6 card box-shadow">
    <h1>Edit Page</h1>
    <form action="/clients/<%= @client.id %>" method="post">
      <input id="hidden" type="hidden" name="_method" value="patch">
      <div class="form">
        <strong>Name:</strong><input type="text" class="form_input" name="name" value="<%= @client.name %>">
      </div>
      <div class="form">
        <strong>Email:</strong><input type="text" class="form_input" name="email" value="<%= @client.email %>">
      </div>
      <div class="form">
        <strong>Telephone Number:</strong><input type="text" class="form_input" name="tel_nbr" value="<%= @client.tel_nbr %>">
      </div>
      <div class="form">
        <strong>Address:</strong><input type="text" class="form_input" name="address_1" value="<%= @client.address_1 %>">
      </div>
      <div class="form">
        <strong>Address (continue):</strong><input type="text" class="form_input" name="address_2" value="<%= @client.address_2 %>" >
      </div>
      <div class="form">
        <strong>City:</strong><input type="text" class="form_input" name="city" value="<%= @client.city %>">
      </div>
      <div class="form">
        <strong>Zipcode:</strong><input type="text" class="form_input" name="zipcode" value="<%= @client.zipcode %>">
      </div>
      <div class="form">
        <strong>State:</strong><input type="text" class="form_input" name="state" value="<%= @client.state %>">
      </div>
      <button type="submit" name="submit">Edit</button>
    </form>
  </div>
</div>
