<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

  <style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
     }

    li a:hover {
      background-color: #111;
    }
  </style>

  <ul>
    <% if current_shopper%>
      <li><a href="/clients">Clients</a></li>
      <li><a href="/shoppers">Shoppers</a></li>
      <li><a href="/shoppers/<%= current_shopper.id %>">Profile Page</a></li>
      <li><a href="/lists">Lists</a></li>
      <li><a href="/shoppers/<%= current_shopper.id %>/edit">Edit Profile</a></li>
      <li><a href="/shoppers/<%= current_shopper.id %>/delete">Delete Profile</a></li>
      <li><a href="/shoppers/logout">Logout</a></li>
    <% elsif current_client%>
      <li><a href="/clients">Clients</a></li>
      <li><a href="/shoppers">Shoppers</a></li>
      <li><a href="/clients/<%= current_client.id %>">Profile Page</a></li>
      <li><a href="/lists">Lists</a></li>
      <li><a href="/clients/<%= current_client.id %>/edit">Edit Profile</a></li>
      <li><a href="/clients/<%= current_client.id %>/delete">Delete Profile</a></li>
      <li><a href="/clients/logout">Logout</a></li>
    <% else %>
      <li><a href="/clients/login">Clients</a></li>
      <li><a href="/shoppers/login">Shoppers</a></li>
    <% end %>

  </ul>

  <title>TheGroceryShopper</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
  <div class="wrapper">

      <%= yield %>

    <footer class="branding">
      <small>&copy; 2017 <strong>TheGroceryShopper</strong></small>
    </footer>
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <!--[if lt IE 7]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
    <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
  <![endif]-->
  </body>
